Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/*/TokyoStylizedEnvironment/*
TokyoStylizedEnvironment/
TokyoStylizedEnvironment/*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace